:root {
    --primary-1: rgb(57, 62, 70);
    --primary-2: rgb(34, 40, 49);
    --primary-3: rgb(50, 224, 196);
    --primary-4: rgb(238, 238, 238);
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 100;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.navbar {
    position: fixed;
    height: 4rem;
    width: 100%;
    color: var(--primary-4);
    background-color: rgba(57, 62, 70, 0.7);
    border: none;
    border-bottom: 1px solid var(--primary-3);
    font-size: .8em;
    z-index: 2;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}
.nav-name {
    margin: 0;
}
.navbar-content {
    align-items: end;
    display: flex;
    justify-content: end;
    flex-basis: auto;
    flex-grow: 1;
}
.navbar-sections {
    text-align: center;
}
.navbar a {
    color: var(--primary-4);
    text-decoration: none;
    padding: 0 10px;
}
.navbar a:hover {
    color: var(--primary-3);
    text-decoration: underline;
    cursor: pointer;
}

section {
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    overflow: auto;
}
.section {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.collapse, #collapse, .collapse-content  {
    display: none;
}
.collapse-content > ul {
    list-style: none;
}
.intro {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-2);
    color: var(--primary-4);
    width: calc(100% - 40px);
}
.name-cont {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 8vw, 6rem) !important;
    padding-right: 50px;
    position: absolute;
    z-index: 1;
    text-shadow: 5px 5px 10px var(--primary-4);
}
.name, .name-desc {
    margin: 0;
}
.intro-image {
    border-radius: 20px;
    width: clamp(300px, 30vw, 600px);
    position: absolute;
    right: clamp(0rem, 5vw, 10rem);
    filter: grayscale(1);
    transition: all .4s ease-in-out;
}
.intro-image:hover{
    filter: grayscale(0);
    transition: all .4s ease-in-out;
}

.about {
    flex-direction: column;
    justify-content: center;
    line-height: 1.3em;
    gap: 2rem;
    padding: 0 5vw;
    width: clamp(300px, 100%, 1200px);
    height: 100vh;
}
.title {
    text-decoration: underline;
    text-decoration-thickness: .1em;
    font-weight: 500;
    font-size: clamp(2rem,6vw,3.5rem);
    color: var(--primary-2)
}
.about-content {
    margin-right: calc(100px, 500px, 800px);
}
.about-text {
    color: var(--primary-1);
    font-size: clamp(.85rem,2.5vw,1.5rem);
}
.about-text > * {
    padding: 10px 0;
}

.skills {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-2);
    color: var(--primary-4);
    width: calc(100% - 40px);
}

@media screen and (max-width: 800px) {
    .navbar {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        font-size: 0.8em;
    }
    .nav-name {
        padding: 0 15px;
    }
    .navbar-sections {
        display: none;
    }
    .collapse-container {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .collapse-btn {
        display: block;
        width: 50px;
        float: left;
    }
    #collapse {
        display: block;
        border: none;
        opacity: 0;
    }
    #collapse:checked {
        opacity: 1;
    }
    .navbar a {
        padding: 0 10px;
    }
}